<!DOCTYPE html>
<html lang="en-us">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>SUPA</title>
		<link rel="canonical" href="http://www.supa.ai">
    <meta name="keywords" content="AI, sensors, wearables, fashion, clothing, data, body, social, emotion, health, sports, fitness, artificial intelligence, brand, motion, sensing, computational fashion, super powers" >
    <meta name="description" content="We unleash your SUPA powers. SUPA wear + SUPA AI = SUPA powers.">
   
    <!--FACEBOOK-->
    <meta property="og:title" content="SUPA" >
    <meta property="og:site_name" content="SUPA">
    <meta property="og:url" content="http://www.supa.ai" >
    <meta property="og:description" content="We unleash your SUPA powers. SUPA wear + SUPA AI = SUPA powers." >
    <meta property="og:image" content="http://www.supa.ai/images/supa_fb_banner.png" >
    <meta property="og:type" content="" >
    <meta property="og:locale" content="en_US" >
    
    <!--TWITTER-->
    <meta property="twitter:card" content="summary_large_image" >
    <meta property="twitter:title" content="SUPA" >
    <meta property="twitter:description" content="We unleash your SUPA powers. SUPA wear + SUPA AI = SUPA powers." >
    <meta property="twitter:creator" content="@supa_ai" >
    <meta property="twitter:url" content="http://www.supa.ai" >
    <meta property="twitter:image" content="http://www.supa.ai/images/supa_fb_banner.png" >
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-89544635-1', 'auto');
		  ga('send', 'pageview');
		
		  ga('create', 'UA-67426824-3', 'auto', 'hvTracker');
		  ga('hvTracker.send', 'pageview');
		</script>
	</head>
	
	<!-- load jquery minified js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- load bootstrap minified js/css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<body>
		FAQ	
	</body>
	
	
	<script> 
		$(document).ready(function() {
    
		});
	</script>
	
</html>

