<!DOCTYPE html>
<html lang="en-us">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>SUPA</title>
		<link rel="canonical" href="http://www.supa.ai">
    <meta name="keywords" content="" >
    <meta name="description" content="">
   
    <!--FACEBOOK-->
    <meta property="og:title" content="SUPA" >
    <meta property="og:site_name" content="SUPA">
    <meta property="og:url" content="http://www.supa.ai" >
    <meta property="og:description" content="" >
    <meta property="og:image" content="" >
    <meta property="og:type" content="" >
    <meta property="og:locale" content="en_US" >
    
    <!--TWITTER-->
    <meta property="twitter:card" content="summary_large_image" >
    <meta property="twitter:title" content="" >
    <meta property="twitter:description" content="" >
    <meta property="twitter:creator" content="" >
    <meta property="twitter:url" content="" >
    <meta property="twitter:image" content="" >
    	
		<!-- add custom stylesheets -->
		<link rel="stylesheet" href="stylesheets/style.css">
		<% if (mobile == "true") { %>
      <link rel="stylesheet" href="stylesheets/m_style.css">
    <% } %>
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-67426824-3', 'auto');
		  ga('send', 'pageview');
		
		</script>
	</head>
	
	<!-- load jquery minified js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- load bootstrap minified js/css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<body>
		
		<!-- video -->
		<% if (mobile == "true") { %>
		<img src="images/logo_red.png" class="" style="width:30vw;margin-left:35vw;margin-top:5vw;margin-bottom:5vw;">
		<iframe src="https://player.vimeo.com/video/176656779" width="740" height="420" class="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="
			margin-left:10vw;
			margin-right:10vw;
			width:80vw;
			height:45vw;
			border:3px solid #ff034b;
			box-shadow:8px 8px 0px #06e2ff;"></iframe>	
		<% } else { %>
		<div class="s-position-relative" style="height:90vh;">
			<img src="images/logo_red.png" class="s-position-absolute s-center-x" style="margin-top:20px;">
			<iframe src="https://player.vimeo.com/video/176656779" width="740" height="420" class="s-position-absolute s-center" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="
				width:750px;
				height:420px;
				border:3px solid #ff034b;
				box-shadow:8px 8px 0px #06e2ff;"></iframe>
		</div>
		<% } %>
		
		<!-- press -->
		<% if (mobile == "true") { %> <br><br><br> <% } %>
		<div class="s-position-relative" 
			<% if (mobile == "true") { %>
			style="
			border-top:3px solid #ff034b;
			border-bottom:3px solid #ff034b;
			width: 100vw;
			background-color: white;"
			<% } else { %>
			style="
			border-top:3px solid #ff034b;
			border-bottom:3px solid #ff034b;
			width: 100vw;
			background-color: white;"
			<% } %>
			>
			<div class="container"<% if (mobile == "true") { %>style="padding-top:0px;text-align:center;margin-top:5vh;margin-bottom:5vh;"<% } else { %> style="padding-top:0px;text-align:center;" <% }%> >
				<% if (mobile != "true") { %>
				<div class="col-xs-2" class="s-position-relative" style="margin-top:30vh"><img src="images/trophy.png" class="s-position-absolute s-center"></div>
				<div class="col-xs-8">
				<% } else { %>
				<div class="col-xs-12">
				<% } %>
					<br>
					<div class="row">
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/press1.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;"<% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/press2.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/press3.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/press4.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/press5.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/press6.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/press7.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
					</div>
					<% if (mobile != "true") { %> <br> <% } %>
					<div class="row">
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award1.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;"<% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award2.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award3.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award4.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award5.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award6.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award7.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award8.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award9.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;" <% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award10.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;"<% } %>></div>
						<div <% if (mobile == "true") { %> class="col-xs-4"  <% } else { %> class="col-md-3 col-xs-4" <% } %>><img src="/images/award11.png" <% if (mobile == "true") { %> style="width:20vw;"<% } else { %> style="width:120px;margin-top:10px;margin-bottom:10px;"<% } %>></div>
					</div>
					<br>
				</div>
				<% if (mobile != "true") { %>
				<div class="col-xs-2" class="s-position-relative" style="margin-top:30vh"><img src="images/trophy.png" class="s-position-absolute s-center"></div>
				<% } %>
			</div>	
		</div>
		
		<!-- supa -->
		<% if (mobile == "true") { %>
		<br>
		<div class="s-position-relative h2" style="
			text-align:center;
			color: #ff034b;
			font-weight:800;">
			Get ready for SUPA power!
		</div>
		<br>
		<br>
		<img src="images/supa-icons.png" class="" style="text-align:center;margin-left:5vw;width:90vw;">
		<br>
		<br>
		<br>
		<% } else { %>
		<div class="" style="background-image: url('images/supa-tile.png');" >
			<div class="s-position-relative" style="height:90vh;">
				<div class="s-position-absolute s-center" style="
					width:760px;
					height:420px;
					background-color: white;
					border:3px solid #ff034b;
					text-align: center;
					box-shadow:8px 8px 0px #06e2ff;">
					<br>
					<div class="s-position-relative h2" style="
						text-align:center;
						color: #ff034b;">
						Get ready for SUPA power!
					</div>
					<br>
					<br>
					<img src="images/supa-icons.png" class="" style="text-align:center;width:80%;">
				</div>
			</div>
		</div>
		<% } %>
		
		<!-- sign up -->
		<div class="s-position-relative" style="
			border-top:3px solid #ff034b;
			border-bottom:3px solid #ff034b;
			height: 30vh;
			width: 100vw;
			background-color: white;">
			<div class="s-position-absolute s-center" style="width:80%;text-align:center;">
				
				<% if (mobile == "true") { %>
				<form action="http://moondialgmbh.createsend.com/t/r/s/hujtkii/" method="post" id="subForm">
		      <input id="fieldEmail" name="cm-hujtkii-hujtkii" type="email" placeholder="your@email.com" required style="
						margin:0 auto;
						width:60vw;
						outline: none;
						height:10vw;
						line-height:10vw;
						background-color:#ff034b;
						border: 0px;
						text-align: center;
						color:white;"/>
		      <button type="submit" style="
		      	background-color: #06e2ff;
		      	color: #ff034b;
		      	border-radius:50%;
		      	font-weight: 700;
		      	border: 0px;
		      	margin-left:20px;
		      	height:10vw;
		      	vertical-align:top;
		      	width:10vw;">GO</button>
				</form>
				<!--
				<a href="https://confirmsubscription.com/h/r/6DA4F50242D42B84" target="_blank"><div class="h4" style="
					margin:0 auto;
					width:80vw;
					height:60px;
					line-height:60px;
					background-color:#ff034b;
					color:white;">Click to Subscribe!</div></a>-->
				<div class="h3" style="color:#ff034b;margin-top:10px;">
					Sign <img src="images/emoji1.png" height="32"> to  &nbsp; <img src="images/emoji2.png" height="32"> &nbsp; <img src="images/emoji3.png" height="32"> &nbsp; <img src="images/emoji4.png" height="32">
				</div>
				<% } else { %>
				<form action="http://moondialgmbh.createsend.com/t/r/s/hujtkii/" method="post" id="subForm">
		      <input id="fieldEmail" name="cm-hujtkii-hujtkii" type="email" placeholder="your@email.com" required style="
						margin:0 auto;
						width:50vw;
						min-width:400px;
						max-width:680px;
						outline: none;
						height:60px;
						line-height:60px;
						background-color:#ff034b;
						border: 0px;
						text-align: center;
						font-size: 24px;
						font-weight: 700;
						color:white;"/>
		      <button type="submit" style="
		      	background-color: #06e2ff;
		      	color: #ff034b;
		      	border-radius:50%;
		      	font-weight: 700;
		      	border: 0px;
		      	margin-left:20px;
		      	height:60px;
		      	vertical-align:top;
		      	width:60px;">GO</button>
				</form>
				<!--
				<a href="https://confirmsubscription.com/h/r/6DA4F50242D42B84" target="_blank"><div class="h4" style="
					margin:0 auto;
					width:480px;
					height:60px;
					line-height:60px;
					background-color:#ff034b;
					color:white;">Click to Subscribe!</div></a>-->
				<div class="h2" style="color:#ff034b;margin-top:10px;">
					Sign <img src="images/emoji1.png" height="50"> to  &nbsp; <img src="images/emoji2.png" height="50"> &nbsp; <img src="images/emoji3.png" height="50"> &nbsp; <img src="images/emoji4.png" height="50">
				</div>
				<% } %>
				
				
			</div>
		</div>
		
		<!-- footer -->
		<div class="s-position-relative" style="
			background-color: #06e2ff;
			height: 30vh;
			text-align: center;">
			<div class="s-position-absolute s-center" style="width:80vw;">
				<% if (mobile == "true") { %>
				<br>
				<a href="https://www.twitter.com/supa_ai" target="_blank"><img src="images/twitter.png" height="36"></a>
				&nbsp;&nbsp;&nbsp;
				<a href="https://www.instagram.com/supa.ai" target="_blank"><img src="images/instagram.png" height="36"></a>
				<br>
				<br>
				<div class="" style="font-weight:700;"><a href="mailto:supa@supa.ai" target="_blank" style="color:white;">supa@supa.ai</a></div>
				<br>
				<div class="">SUPAspot inc. all rights reserved 2016</div>
				<% } else { %>
				<img src="images/logo_red.png" height="30">
				<br>
				<br>
				<div class="" style="font-weight:700;"><a href="mailto:supa@supa.ai" target="_blank" style="color:white;">supa@supa.ai</a></div>
				<br>
				<a href="https://www.twitter.com/supa_ai" target="_blank"><img src="images/twitter.png" height="36"></a>
				&nbsp;&nbsp;&nbsp;
				<a href="https://www.instagram.com/supa.ai" target="_blank"><img src="images/instagram.png" height="36"></a>
				<br>
				<br>
				<div class="" style="font-weight:700;">SUPAspot inc. all rights reserved 2016</div>
				<% } %>
			</div>
		</div>
	
	</body>
	
	
	<script> 
		$(document).ready(function() {
    
		});
	</script>
	
</html>

